<div class='container mar-t30 mh500'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='secondary-box clearfix mh-md-375'>

                <div class='clearfix brd-btm pad-t15 pad-b15'>
                    <div class='col-sm-5 col-md-2'>
                        <img src='img/list_thumb.png' class='img-responsive'/>
                    </div>
                    <div class='col-sm-7 col-md-8'>
                        <h4 class='secondary-color'>$groundname</h4>

                        <p>$address</p>

                        <p>$description</p>
                    </div>
                    <div class='col-sm-4 col-md-2 col-sm-offset-8 col-md-offset-0'>
                        <h3 class='price-color sm-txtr mar-sm-t0'></h3>
                        <!--<button class='btn btn-primary btn-block' onclick='functionviewslot($idground)';>View Slots</button>-->
                        <a href="#/view-slots" ng-click="viewSlots()" class="btn btn-primary btn-block">View Slots</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>