<section class="primary-box">
    <div class="container">
        <form class="form-inline" role="form">


            <div class="form-group">
                <label class="sr-only">Choose Your Sport</label>
                <select class="form-control" ng-options=" City for City in searchPanel.locations"
                        ng-model="searchRequest.location">
                    <option value="">Choose Your Location</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" ng-options="Sport for Sport in searchPanel.sports"
                        ng-model="searchRequest.sportsName">
                    <option value="">Choose Your Sport</option>
                </select>
            </div>

            <div class="form-group">
                <!-- <label class="sr-only">Choose Date</label>-->
                <div class="pos-rel">
                    <input type="text"  class="form-control" ng-model="searchRequest.date" datepicker/>
                </div>


            </div>

            <a ng-click="viewGroundDetails()" class="btn btn-primary">Search</a>

        </form>
    </div>
</section>
<div class='container mar-t30 mh500'>
    <div class='row' ng-repeat="detail in groundDetails">
        <div class='col-md-12'>

            <div class='clearfix brd-btm pad-t15 pad-b15'>
                <div class='col-sm-5 col-md-2'>
                    <img ng-src="{{detail.image}}" class='img-responsive'/>
                </div>
                <div class='col-sm-7 col-md-8'>
                    <h4 class='secondary-color'>{{detail.ShortName}}</h4>

                    <p>{{detail.FullName}}</p>

                    <p>{{detail.Sport}}</p>
                </div>
                <div class='col-sm-4 col-md-2 col-sm-offset-8 col-md-offset-0'>
                    <h3 class='price-color sm-txtr mar-sm-t0'></h3>
                    <!--<button class='btn btn-primary btn-block' onclick='functionviewslot($idground)';>View Slots</button>-->
                    <a ng-click="viewSlots(detail)" class="btn btn-primary btn-block">View Slots</a>
                </div>
            </div>
            <div class='primary-box clearfix pad-t15 brd-btm'
                 ng-hide="checkIfSlotBelongsToGround(slots.sportsGroundId,detail.SportsGroundID)">
                <div role='form' class='col-sm-9 col-md-10 pad0'>
                    <div class='form-group col-sm-2 col-xs-4' ng-repeat="slot in slots.slots">
                        <label class='control-label dblock font12 clearfix'><span
                                class='pull-left'>{{slot.startTime}}</span><span
                                class='pull-right'>{{slot.endTime}}</span></label>
                        <button type='button' ng-click="slotSelectionAction(slot)" ng-class="buttonStyle(slot)">
                            {{slot.displayText}}
                        </button>
                    </div>

                </div>
                <div class='col-sm-3 col-md-2' ng-hide="selectionCount()==0">
                    <div class='txtr font12'>
                        <p class='base-price'>Base Amt : <span class='pad-l5 secondary-color price-block'>{{bookingSummary.baseAmt}}</span>
                        </p>

                        <p>Booking Amt: <span
                                class='pad-l5 secondary-color price-block'>{{bookingSummary.baseAmt}}</span></p>

                        <p>Online fees : <span
                                class='pad-l5 secondary-color price-block'>{{bookingSummary.onlineFees}}</span></p>

                        <p class='font14-sm'>Total Amt : <span class='pad-l5 secondary-color price-block'>{{bookingSummary.totalAmount}}</span>
                        </p>
                        <a href="#/checkout-summary" ng-click="checkoutSummary()"
                           class="btn btn-primary btn-block pad-l5 mar-b15 price-block">Continue</a>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>