<!--
<section class="primary-box">
    <div class="container">
        <form class="form-inline" role="form">

            <div class="pad-t10 pad-b10">
                <div class="form-group">
                    <label class="sr-only">Choose Your Sport</label>
                    <select class="form-control" name='idsport' id='idsport'>
                        </option>

                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only">Choose Your Location</label>
                    <select
                    <select class="form-control" name='idlocation' id='idlocation'>
                        <?php for($i=0;$i<count($arraylocation);$i++){?>
                        <option value='<?php echo $arraylocation[$i][' idlocation
                        '];?>'
                        <?php if($_SESSION['idlocation']==$arraylocation[$i]['idlocation'])
				{
				   echo "selected=selected";
				}
				else{
				}?>><?php echo $arraylocation[$i]['locationname'];?></option>
                        <?php }?>
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only">Choose Date</label>

                    <div class="pos-rel">

                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
                               is-open="opened" min-date="minDate" max-date="'2015-06-22'"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close"/>
              <span class="date date-home">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>

                    </div>
                </div>

                <a href="#/ground-details" ng-click="viewGroundDetails()" class="btn btn-primary">SEARCH</a>


            </div>

        </form>
    </div>
</section>
-->
<div class='container mar-t30 mh500' ng-controller="bygMainCntlr">
    <div class='row' ng-repeat="detail in groundDetails">
        <div class='col-md-12'>

                <div class='clearfix brd-btm pad-t15 pad-b15'>
                    <div class='col-sm-5 col-md-2'>
                        <img ng-src="{{detail.image}}" class='img-responsive'/>
                    </div>
                    <div class='col-sm-7 col-md-8'>
                        <h4 class='secondary-color'>{{detail.name}}</h4>

                        <p>{{detail.description}}</p>

                        <p>{{detail.address}}</p>
                    </div>
                    <div class='col-sm-4 col-md-2 col-sm-offset-8 col-md-offset-0'>
                        <h3 class='price-color sm-txtr mar-sm-t0'></h3>
                        <!--<button class='btn btn-primary btn-block' onclick='functionviewslot($idground)';>View Slots</button>-->
                        <a href="#/view-slots" ng-click="viewSlots()" class="btn btn-primary btn-block">View Slots</a>
                    </div>
                </div>


        </div>

    </div>


</div>