<div class="container mar-t30 mh500">

    <div class="secondary-box clearfix mh-md-375">
        <div class="pad-l20 pad-t5 pad-b5 brd-btm">
            <h4 class="primary-title">How it Works</h4>
        </div>
        <div class="clearfix pad20">
            <p class="font16-sm">Procedure to book slots through BookYourGround.com :</p>
            <ul class="content-list">
                <li>Log on to <a href="#">www.BookYourGround.com</a></li>
                <li>Select the desired City, Sport, Date</li>
                <li>Choose 'Venue' and 'Time slot' as per your preference</li>
                <li>Click on 'Continue'</li>
                <li>Crosscheck booking details and the amount payable in the Order Summary</li>
                <li>Enter your Email Id and Mobile no. in order to get the booking confirmation email and SMS</li>
                <li>Read and Check 'I Agree to the Terms and Conditions'</li>
                <li>Click on 'Proceed to Payment' to go ahead with your booking </li>
                <li>Choose the preferred Mode of Payment</li>
                <li>Enter your Card number and other card details and click on 'Pay'</li>
                <li>You will receive a booking confirmation number by email and SMS</li>
                <li>In a rare case, if you do not receive the email or SMS, call our support number to get a new confirmation</li>
                <li>You can contact us on (+91) 80958 87000, write to us at <a href="mailto:support@bookyourground.com">support@bookyourground.com</a> for assistance</li>
            </ul>
        </div>


    </div>
</div>
